@model Quantia.Models.TradeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Section = "Trade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Start a New Trade</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="card2">
        <div class="form-group">
            <label asp-for="CryptoSymbol">Crypto Symbol</label>
            <label>
                <select asp-for="CryptoSymbol" class="form-control" id="symbolSelect">
                    <option value="BTCUSDT">BITCOIN</option>
                    <option value="ETHUSDT">ETHERUM</option>
                </select>
            </label>
            <span asp-validation-for="CryptoSymbol" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BuyPrice">Buy Price ($)</label>
            <input asp-for="BuyPrice" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="BuyPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" type="number" step="0.00000001" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BuyDate">Buy Date</label>
            <input asp-for="BuyDate"
                   class="form-control"
                   type="datetime-local"
                   value="@Model.BuyDate.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="BuyDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Start Trade</button>
    </div>

</form>

