@{
    ViewBag.Section = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

<div class="dashboard-grid">
    <div class="card">
        <h3>Follow Strategy</h3>
        <p>Adopt a predefined trading strategy</p>
    </div>
    <div class="card">
        <a href="@Url.Action("CreateStrategy", "Strategy")" class="no-style">
            <h3>Create Strategy</h3>
            <p>Define a custom trading strategy</p>
        </a>
    </div>
    <div class="card">
        <h3>Track Assets</h3>
        <p>Monitor the performance of active assets</p>
    </div>
    <div class="card">
        <h3>News Assets</h3>
        <p>Track recent news of an asset</p>
    </div>
    <div class="card">
        <a href="@Url.Action("Index", "Trade")" class="no-style">
            <h3>Portfolio</h3>
            <p>Build a collection of investments</p>
        </a>
    </div>
</div>